<div class="memos-folder overflow-scroll">

      <div class="memo-folder pt-4 ms-2">

        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
        <div class="folder-name">
          <%= link_to "メモフォルダー", "#", class: "text-decoration-none" %>
        </div>
      
      </div>

    </div>