<div class="wrapper d-flex">

  <%= render "side_bar" %>

  <div class="main bg-white col-10">

    <div class="main-header border-start d-flex justify-content-start align-items-center">

    </div>

  </div>

</div>